h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#d1e4ff;
    text-align: center;
}
h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color:#f2f2f2;
    text-align: center;
    
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#f2f2f2;
}

.navbar {
    background-color: #126f80;
    padding: 10px;
    text-align: center;
    transition: opacity .08s 
ease-in;
}

body {
    background-image: url("deep-ocean-background-vector.jpg");
}

.navbar ul li::after{
	content:'';
	width: 0%;
	height:2px;
	background:#86d8ec;
	display:block;
	margin: auto;
	transition:0.5s;
}

.navbar ul li:hover::after{
	width:100%;
}

.box {
    background-color: #2e94a7;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.box1 {
    background-color: #2e94a7;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.box2 {
    background-color: #2e94a7;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.box3 {
    background-color: #2e94a7;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.box4 {
    background-color: #2e94a7;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.box5 {
    background-color: #2e94a7;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.box6 {
    background-color: #2e94a7;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.box:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.box1:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.box2:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.box3:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.box4:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.box5:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

input{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
        background-color: #16758d;
        color: white;
        padding: 10px;
        text-align: center;
        width: 100%;
        position: fixed;
        bottom: 0;
    }